# Core functionality - changes here should be rare!
/src/app.py                   @iaiamaga
/src/backend/database.py      @iaiamaga
/src/backend/routers/auth.py  @iaiamaga

# The frontend will need refactored soon to be more object oriented.
/src/static/   @iaiamaga
